apiVersion: v1
kind: Service
metadata:
  name: orders
  namespace: app
spec:
  selector:
    app: orders-service
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
  type: ClusterIP
