apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-app-notifications
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ranenachiket/k8s-app
    targetRevision: HEAD
    path: devops/deployments/notifications
  destination:
    server: https://kubernetes.default.svc
    namespace: app

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true