apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: kafka
  labels:
    io.kompose.service: kafka-data
  name: kafka-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
